@tailwind base;
@tailwind components;
@tailwind utilities;

/* OIO ONE - DNA Visual Nativo */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  /* Remove o "pulo" da tela no celular */
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* Esconde a barra de rolagem para parecer um App de luxo */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Efeito de Vidro OIO (Identity Drawer) */
.glass-drawer {
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
